
@font-face {
    font-family: Allura;
    src: url('Allura-Regular.ttf');
}

html {
	width: 100%;
	height: 100%;
}

body {

	background-color: #fcf8f2;
	font-family: Lato;
	color: #461111;
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
	overflow-x: hidden;
}

#banner {
	background-image: url("banner.jpg");
	background-size: 100%;
	border-bottom: 1px solid #461111;
	height: 90px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 100px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#title {
	font-family: Allura;
	font-size: 70px;
	color: #eea269;
	text-align: left;
	width: 100%;
	height: 66px;
	margin-right: 0px;
}

#logo{
	background-image: url("hamburger.png");
	background-repeat: no-repeat;
	width: 58px;
	height: 64px;
	margin-left: 40%;
	margin-right: 0px;
}

#sidebar {	
	width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    border-left: 1px solid #461111;
}

.col-sm-2 {
	padding-left: 0px;
	padding-right: 0px;
}

.nav-pills > li {
	width: 100%;
	background-color: #FFF;
	border-bottom: 1px solid #461111;
}

.nav-pills > li:hover {
	width: 100%;
	background-color: #FDEDED;
}

.nav-pills > li > a {
	color: #461111;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}

.nav-pills > li > a:hover {
	color: #461111;
}

#container {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#content {
	background-color: #FFF;
	border-left: 1px solid #461111;
	border-bottom: 1px solid #461111;
	border-right: 1px solid #461111;
	min-height: 300px;
	padding-bottom:20px;
}

#formPresentarPincho, #formConfigurarConcurso{
	padding: 10px;	
}

#descripcionPincho, #descripcionConcurso {
	width: 100%;
}

#divBtn {
	text-align: right;
}

.headerForm {
	text-align: left;
	border-bottom: 1px solid #e3bfb1;
	margin-bottom: 20px;
}

.btnForm {
	width : 25%;
	color: #461111;
}

#footer {
	background-image: url("banner.jpg");
	background-size: 100%;
	float: bottom;
	bottom: 0px;
	width: 100%;
	border: 1px solid #461111;
	padding-top:8px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 20px;
	margin-bottom: 0px;
}

#msg-container {
	position:fixed;
	top: 10px;
	right: 10px;
	z-index: 1;
}

.view-title {
	text-align: left;
	border-bottom: 1px solid #e3bfb1;
	margin-bottom: 20px;
}

.view-img {
	text-align: center;
	margin-bottom: 15px;
}

.view-img > img {
	max-height: 200px;
	max-width: 250px;
}

.view-img-lg {
	text-align: center;
	margin-bottom: 15px;
}

.view-img-lg > img {
	max-height: 400px;
	max-width: 450px;
}

.view-description {
	text-align: center;
	margin: auto;
	width: 80%;
}

.view-description th {
	min-width: 20%;
}

.view-confirm {
	text-align: right;
	margin: auto;
	width: 80%;
}

/* ------------------------------- */

.user-img {
	width: 60px;
	height: 60px;
}

/* ------------------------------- */

.row-height {
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
}

.col-height {
	display: table-cell;
	float: none;
	height: 100%;
}

.col-top {
	vertical-align: top;
}

.col-middle {
	vertical-align: middle;
}

.col-bottom {
	vertical-align: bottom;
}

/* ------------------------------- */


.botonVotar {
	float: none !important;
	text-align: right;
	margin-bottom: 10px;
}

.prg {
	height: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.success-label{
	position:absolute;
	height:26px;
	left: 15px;
	margin-top:-10px;
	padding-left: 5px;
	padding-right: 5px;
	z-index:1;
	border-radius:15px;
	border: 1px solid white;
	background-color: #881700;
	color: white;
	text-align: center;
}
.primary-color{
	background-color: #881700;
}
.success-color{
	background-color:#881700;
}
.no-color{
	background-color:inherit;
}

.pinchoAprobado {
	color: green;
	font-weight: bold;
}
.pinchoPendiente {
	color: #881700;
	font-weight: bold;
	animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
	50% { opacity: 0.0; }
}
.navbar {
	background-color:#ddcfb6;
	margin-bottom: 0px;
}

.glyphicon{
	color: white !important;
	margin-right: 5px;
}

.navbar-brand {
	color: white !important;
	font-style: italic;
}

.navbar-nav {
	margin-bottom: 0px;
}
.navbar-nav * a ,.navbar-nav * a:active{
	color: #461111 !important;
}

.navbar-nav * a:hover,.navbar-brand {
	color: white !important;
}

#logonav{
	background-image: url("hamburger.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 66px;
	margin-left: 0px;
	margin-right: 0px;
}

.nav-pill{
	border-bottom: 1px solid #461111;
}

.navbar-toggle,.navbar-toggle:hover,.navbar-toggle:active {
	margin-top: 15px;
	margin-right: 0px;
	background-color: #988665 !important;
}