
@font-face {
    font-family: Allura;
    src: url('Allura-Regular.ttf');
}

body {

	font-family: Lato;
	color: #96281B;
}

#banner {
	border-bottom: 1px solid #96281B;
	height: 90px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 100px;
	margin-bottom: 10px;
}

#title {
	font-family: Allura;
	font-size: 70px;
	color: #96281B;
	text-align: center;
}

#sidebar {	
	border-radius: 6px;
}

.nav-pills > li {
	background-color: #FFF;
	border-radius: 6px;
	border: 1px solid #96281B;
}

.nav-pills > li:hover {
	background-color: #FDEDED;
	border-radius: 6px;
}

.nav-pills > li > a {
	color: #96281B;
	font-size: 14px;
	text-align: center;
}

.nav-pills > li > a:hover {
	color: #96281B;
}

#content {
	background-color: #FFF;
	border: 1px solid #96281B;
	border-radius: 6px;
	min-height: 300px;
	padding-bottom:20px;
}

#formPresentarPincho, #formConfigurarConcurso{
	padding: 10px;	
}

#descripcionPincho, #descripcionConcurso {
	width: 100%;
}

#divBtn {
	text-align: right;
}

.headerForm {
	font-size: 30px;
	color: #96281B;
	text-align: center;
}

.btnForm {
	width : 25%;
	color: #96281B;
}

#footer {
	background-color: #FFF;
	border-radius: 6px;
	border: 1px solid #96281B;
	padding-top:8px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#msg-container {
	position:fixed;
	top: 10px;
	right: 10px;
	z-index: 1;
}

.pincho-view-title {
	text-align: center;
	text-decoration: underline;
}

.pincho-view-img {
	text-align: center;
	margin-bottom: 15px;
}

.pincho-view-img > img {
	max-height: 200px;
	max-width: 250px;
}

.pincho-view-description {
	text-align: center;
	margin: auto;
	width: 80%;
}

.pincho-view-description th {
	min-width: 20%;
}

.pincho-view-confirm {
	text-align: right;
	margin: auto;
	width: 80%;
}

/* ------------------------------- */

.user-img {
	width: 60px;
	height: 60px;
}

/* ------------------------------- */

.row-height {
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
}

.col-height {
	display: table-cell;
	float: none;
	height: 100%;
}

.col-top {
	vertical-align: top;
}

.col-middle {
	vertical-align: middle;
}

.col-bottom {
	vertical-align: bottom;
}


.botonVotar {
	float: none !important;
	text-align: right;
	margin-bottom: 10px;
}
